html {
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(36, 116, 7, 0.814);
    font-style: italic;
    color: antiquewhite;
    margin-top: 100px;
    margin-left: 300px;
}

.container {
    width: 360px;
}

#inputField,#enter {
    width: 300px;
    height: 46px;
    border-width: 0;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    background-color: rgb(219, 229, 221);
}

#addToDo {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;
    color: blue;
}

.paragraph-styling {
    margin: 0;
    cursor: pointer;
    padding: 10px;
    font-size: 30px;
    color: rgb(235, 241, 237);
}

.to-dos {
    margin-top: 25px;
    color: rgb(27, 9, 93);
}